<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="Magestore_Event_Logout" instance="Magestore\Event\Observer\LogoutCustomer"/>
    </event>

    <event name="checkout_cart_product_add_after">
        <observer name="Magestore_Event_Discount" instance="Magestore\Event\Observer\DiscountCart"/>
    </event>
</config>
